<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Cqls</string>
	<key>description</key>
	<string>Syntax highlighting for Dyndoc.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array/>
		<key>items</key>
		<array>
			<string>9E1395B-21B4-40A7-A5F2-70D9D0942E8C</string>
			<string>E3D6A140-E34F-48D4-B1CD-2AA851EDC76C</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Dyndoc</string>
	<key>ordering</key>
	<array>
		<string>9E1395B-21B4-40A7-A5F2-70D9D0942E8C</string>
		<string>E3D6A140-E34F-48D4-B1CD-2AA851EDC76C</string>
		<string>4CA84C94-5555-431F-AC2B-250BAD9E27AB</string>
	</array>
	<key>uuid</key>
	<string>CAA863DC-82D2-4FC5-A050-0D5AAF44D2B4</string>
</dict>
</plist>
